@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>Creator @ViewData["Name"]</h4>
<address>
    <strong> For contact send to: </strong> <a href="magidsalem96@gmail.com"> @ViewData["Email"] </a>
</address>
